body {
    font-family: "Roboto", sans-serif; 
    color: #434455;
    background-color: #fff;  
}

/*reset*/

ul, ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}
a {
    text-decoration: none;
} 

/*common*/

.container {
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}
/*haeder*/

.page-heder {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}
.header-container {
    display: flex;
    align-items: center;
}
.heder-nav {
    display: flex;
    align-items: center;
}
.logo {
font-family: "Raleway", sans-serif;
font-weight: 700;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4d5ae5;

}

.heder-logo{
padding: 24px 0;
margin-right: 76px;
}

.heder-logo .logo-part {
    color: #2e2f42;
}

.footer-logo .logo-part {
    color: #f4f4fd;
}

.nav-list {
    display: flex;
    align-items: center;
    gap: 40px;
}

.nav-link {
padding: 24px 0;
display: block;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #2e2f42;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link.current{
    position: relative;
}

.nav-link.current::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #404bbf;
}



.contacts {
font-style: normal;
margin-left: auto;
}

.contacts-list {
display: flex;
align-items: center;
gap: 40px;
}

.contacts-link { 
display: block; 
padding: 24px 0;  
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-link:hover,
.contacts-link:focus,
.nav-link:hover,
.nav-link:focus,
.nav-link.current { 
     color: #404bbf;}

     /*hero*/

    
    
.hero {
background-color: #2e2f42;
padding: 188px 0; 
background-image: linear-gradient(rgba(46, 47, 66, 0.7),rgba(46, 47, 66, 0.7)),
url(../images/bg-image.jpg); 
background-repeat: no-repeat;
background-size: cover;
background-position: center;
max-width: 1440px;
margin-left: auto;
margin-right: auto;

}    

.hero-title {
max-width: 496px;   
margin-left: auto;
margin-right: auto;
margin-bottom: 48px;
font-weight: 700;
font-size: 56px;
line-height: 1.07;
letter-spacing: 0.02em;
text-align: center;
color: #fff
}

.hero-button {
margin-left: auto;
margin-right: auto;
display: block;
padding: 16px 0;
border: 0;
border-radius: 4px;
min-width: 169px; 
height: 56px;   
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: #fff;
background-color: #4d5ae5;
cursor: pointer;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
    background-color: #404bbf;
}

/*main
*/
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
.section-advantages {
 padding: 120px 0;
}


.list-advnt {
display: flex;
gap: 24px;
}

.item-advnt {
width: calc((100% - 72px) / 4);
}
.cont-icons{
    background-color: #f4f4fd;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    height: 112px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 8px;

}
.section-team {
padding: 120px 0;
background-color: #f4f4fd;
}
.list-team {
display: flex;
gap: 24px;
}

.item-team {
padding: 32px 0;
}

.item-team .subtitle {
margin-left: auto;
margin-right: auto;    
text-align: center;
margin-bottom: 8px;
}
.item-team .text-body {
margin-left: auto;
margin-right: auto;
text-align: center;  
}

.team-item { 
background-color:  #FFFFFF;
border-radius: 0 0 4px 4px;
width: calc((100% - 72px) / 4);
box-shadow:  0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.social-m-list{
   display: flex; 
   justify-content: center;
   gap: 24px;

}
.social-m-link{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #4d5ae5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}
.icons-social-m{
    fill: #f4f4fd;
}
.social-m-link:hover,
.social-m-link:focus {
    background-color: #404bbf;

}
.section-portfolio {
padding-top: 120px;
padding-bottom: 120px;
}

.list-portfolio {
    display: flex;
    gap: 48px 24px;
    flex-wrap: wrap;
}

.item-portfolio {
padding: 32px 16px; 
border-bottom: 1px solid #e7e9fc;
border-left: 1px solid #e7e9fc;
border-right: 1px solid #e7e9fc;
}

.item-portfolio .subtitle {
margin-bottom: 8px;
}
.item-banking {
transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
width: calc((100% - 48px) / 3)  

}

.item-banking:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.sumb{
position: relative;
overflow: hidden;
}
.item-banking:hover .text-sumb {
    transform: translateY(0%);
   }

.text-sumb{
 top: 0;   
line-height: 1.5;
letter-spacing: 0.02em;
color: #f4f4fd;
padding: 40px 32px;
background-color: #4d5ae5;
width: 100%;
height: 100%;
position: absolute;
transform: translateY(100%);
transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

    


.subject {
    margin-bottom: 72px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
}
.subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.item-advnt .subtitle  {
    margin-bottom: 8px;
}

.text-body {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.footer-cont{
    display: flex;
    align-items: baseline;

}
.paje-footer {
    padding: 100px 0; 
    background-color: #2e2f42;
}  
.wrapper-logo{
    margin-right: 120px;
}
.footer-text {
width: 264px;    
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #f4f4fd;
}
.footer-logo {
 display: inline-block;   
 margin-bottom: 16px;   
}
.wrapper-social{
    display: flex;
    flex-direction: column;
}
.wrapper-social .social-m-list{
    display: flex;
    gap: 16px;
} 

.footer-text-social{
    font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #fff;
margin-bottom: 16px;
}
.ftr-social-m-link:hover,
.ftr-social-m-link:focus {
    background-color:  #31d0aa;}

.footer-wrapper{
  margin-left: auto;  
}

.footer-wrapper-text{
    margin-bottom: 16px;
    font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #fff;
}    
.footer-form{
    display: flex;
    gap: 24px;
}
.footer-form-input{
    width: 264px;
    height: 40px;
   border:  1px solid #ffffff;
   background-color: transparent;
   font-size: 12px;
   line-height: 2;
   letter-spacing: 0.04em;
   padding-left: 16px;
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
   border-radius: 4px;
   color: #ffffff;
   
}
.footer-form-input:focus{
    border-color: #31d0aa;
}
.footer-form-input::placeholder{
    color #ffffff;
}
.footer-form-label{

}
.footer-form-button{
    min-width: 165px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4D5AE5;
    border: none;
    border-radius: 4px;

}
.footer-form-button:focus{
   background-color:  #31d0aa; 
}

.footer-form-button:hover,
.footer-form-button:focus{
   background-color:#31d0aa;
   box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15); 
}
.footer-form-icon{
    margin-left: 16px;
    fill: #ffffff;

}

.backdrop{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:rgba(46, 47, 66, 0.4); 
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}
.backdrop.is-open{
    opacity: 1;
    visibility: visible;
    pointer-events: auto;   
}
.modal{
 position: absolute; 
 top: 50%; 
 left: 50%; 
 width: 408px;
 min-height: 584px;
 border-radius: 4px;
 background-color: #fcfcfc;
 box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
 transform: translate(-50%, -50%);
 transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

 padding: 72px 24px 24px 24px;
}
.backdrop:not(.is-open) .modal{
    transform: translate(-50%, -50%) scale(1.5);
}
.form{

    top: 112px;
    left: 24;
}
.btn-modal{
  position: absolute;  
  top: 24px;
  right: 24px;
  border-radius: 50%;
  background-color: #e7e9fc;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.btn-modal:hover, 
.btn-modal:focus{
    
    background-color: #404bbf;
    border: none;

}

.btn-modal:hover .icon-close,
.btn-modal:focus .icon-close{
    fill: #ffffff
}


.icon-close{
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.txt-modal{
    
    top: 72px;
    left: 24px;
    font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
margin-bottom: 16px;
}

.form-vrapper{
    margin-bottom: 8px;

}
.form-person-lable{
   display: block;
   margin-bottom: 4px;
font-size: 12px;
line-height: 1.17;
letter-spacing: 0.04em;
color: #8e8f99;
}

.cont-person{
    position: relative;

}
.form-person-input{
width: 100%;
height: 40px;
border: 1px solid rgba(46, 47, 66, 0.4);
border-radius: 4px;
background-color: transparent;
padding-left: 38px;
outline: transparent;
transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-person-input:focus{
    border-color: #4D5AE5;
}
.form-person-input:focus + .form-person-icon{
    fill: #4D5AE5;
}

.form-person-icon{
position: absolute;
left: 16px;
top: 50%;
transform: translateY(-50%);
transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-comment{
    margin-bottom: 16px  
}

.txtarea{
    width: 100%;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em; 
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding: 8px 16px;
    outline: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.txtarea:focus{
    border-color: #4D5AE5;

}

.check-label{
    margin-bottom: 24px;
}

.user-lab{
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;

}

.part-privacy{
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;

    margin-right: 8px;

}
.visually-hidden:checked + .user-lab > .part-privacy{
    background-color: #404bbf;
    border: none;
    fill: #F4F4FD;
}

/*

.part-privacy input:checked{
    background-color: #404bbf;
    border: none;
    fill: #F4F4FD;
}
*/
.link-privacy{
color: #4d5ae5;
}

.btn-form{
    display: block;
    min-width: 169px;
    height: 56px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4D5AE5;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin-left: auto;
    margin-right: auto;
    border-radius: 4px;
}

.btn-form:hover,
.btn-form:focus{
   background-color:#404bbf;
   box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15); 
}